<div>
   <ul>
      {{#each productos}}
      <li>
         <p>nombre :{{this.title}}</p>
         <p>Categoria :{{this.categoria}}</p>
         <p>Descripcion :{{this.description}}</p>
         <p>Precio :{{this.price}}</p>
         <p>Stock :{{this.stock}}</p>
      </li>
      {{/each}}
   </ul>
</div>
